# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings


  # VARIABLES DE DEVELOPMEN 

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/smartHelp"



NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=******************************************
CLERK_SECRET_KEY=********************************

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/donations
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/


# MercadoPago  https://www.mercadopago.cl/developers/panel/app/4245040344474661/credentials/sandbox
MP_ACCESS_TOKEN=*****************************************************


# Envio  de Email usando Nodemailer 
EMAIL_USER=*************************
EMAIL_PASSWORD=********************************

# PAYMENT_SUCCESS="https://mini-each-authors-entered.trycloudflare.com"

PAYMENT_SUCCESS="http://localhost:3000"